#titulo{
    color:beige;
    background-color: cadetblue;
    text-align: center;
}
.titulo2{
    font-family: cursive;
    color:darkcyan;
    font-size: 30px;
}
.texto1{
    font-size: 15px;
}